body, html{
	background: black;
	font-family: "CenturyGothic", Helvetica, Arial, sans-serif;
	overflow: hidden;
}

#menu{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40;
	background-color: #666666;
	padding-left: 10;
}

.MenuBar select{
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #666666 url(arrowdown.png) no-repeat 95% center;
	width: 200px;
	height: 40;
	text-indent: 0.01px
	text-overflow: "";
	color: #FFFFFF;
	font-size: 14pt;
	float: left;
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	padding-left: 10;
}

.MenuBar select.stations{
	width: 290;
}

.MenuBar select.direction{
	width: 155;
}

#dayLabel{	
	float: left;
	padding-top: 70;
	margin-left: 20;
}

.weekday{
	list-style: none;
	color: white;
	font-size: 14px;
	height: 50;
}

.weekend{
	list-style: none;
	color: gray;
	font-size: 14px;
	height: 50;
}

#svg{
	width: 85.25%;
	overflow: hidden;
	padding-left: 10;
	padding-top: 50;
}

#chart{
	width: 100%;
	overflow: auto;
}

rect.bordered{
	stroke: black;
	stroke-width: 2px;   
}

text.mono{
	font-size: 8pt;
	fill: white;
}

#legend{
	width: 750px;
	margin-left: 140px;
	margin-top: 20px;
}

#green{
	width: 150px;
	height: 25px;
	float: left;
	background-color: hsl(120, 100%, 20%);
}

#yellowGreen{
	width: 150px;
	height: 25px;
	float: left;
	background-color: hsl(90, 100%, 30%);
}

#yellow{
	width: 150px;
	height: 25px;
	float: left;
	background-color: hsl(60, 100%, 40%);
}

#orange{
	width: 150px;
	height: 25px;
	float: left;
	background-color: hsl(30, 100%, 50%);
}

#red{
	width: 150px;
	height: 25px;
	float: left;
	background-color: hsl(0, 100%, 50%);
}

#legendLabel{
	width: 950px;
	margin-left: 100px;
	padding-top: 15px;
}

.label{
	list-style: none;
	color: gray;
	font-size: 10pt;
	width: 150;
	float: left;
}